body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


#section-1 {
  background-color: chocolate;
}

#section-2 {
  background-color: cornflowerblue;
}